# 默认忽略的文件
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Vigilance.iml
# 数据源本地存储已忽略文件
/../../../../../../../../../:\Users\Ender\source\repos\LandtoryV\.idea\.idea.Vigilance\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
